<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> exercise 3 lab 3</p>
    <p> <%= address %> has a total of <%= ether %>ETH</p>
  </body>
</html>
